<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

<!-- Bootstrap -->
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="../css/bootstrap-responsive.min.css" rel="stylesheet">

<!-- Bootstrap Tour -->
<link href="../css/bootstrap-tour.min.css" rel="stylesheet">

<!-- Smoke -->
<link rel="stylesheet" href="../css/smoke.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../css/smoke_100theme.css" type="text/css" media="screen" />

<!-- Styles -->
<link rel="stylesheet" href="../css/style.css">

<!-- Libraries -->
<script src="../js/libs/boilerplate/vendor/jquery-2.1.0.min.js" type="text/javascript"></script>
<script src="../js/libs/boilerplate/vendor/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="../js/libs/boilerplate/plugins.js" type="text/javascript"></script>
<script src="../js/libs/raphael-min.js" type="text/javascript"></script>
<script src="../js/libs/mousetrap.min.js" type="text/javascript"></script>
<script src="../js/libs/bootstrap/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/libs/smoke.min.js" type="text/javascript"></script>
<script src="../js/libs/bootstrap/bootstrap-tour.min.js" type="text/javascript"></script>

<!-- Peirce Logic -->
<script src="../js/Peirce.js" type="text/javascript"></script>
<script src="../js/utils/list.js" type="text/javascript"></script>
<script src="../js/utils/utility.js" type="text/javascript"></script>

<script src="../js/proof/proof.js" type="text/javascript"></script>
<script src="../js/proof/proof_ui_reactors.js" type="text/javascript"></script>
<script src="../js/proof/automated_proof.js" type="text/javascript"></script>
<script src="../js/proof/save_load_proof.js" type="text/javascript"></script>

<script src="../js/inference_rules/inference_rules.js" type="text/javascript"></script>
<script src="../js/inference_rules/cuts.js" type="text/javascript"></script>
<script src="../js/inference_rules/variable.js" type="text/javascript"></script>
<script src="../js/inference_rules/erasure.js" type="text/javascript"></script>
<script src="../js/inference_rules/iteration.js" type="text/javascript"></script>
<script src="../js/inference_rules/insertion.js" type="text/javascript"></script>
<script src="../js/inference_rules/rule_helpers.js" type="text/javascript"></script>
<script src="../js/inference_rules/ui_helpers.js" type="text/javascript"></script>

<script src="../js/node/node.js" type="text/javascript"></script>
<script src="../js/node/node_equivalence.js" type="text/javascript"></script>

<script src="../js/ui/uinode.js" type="text/javascript"></script>
<script src="../js/ui/level.js" type="text/javascript"></script>
<script src="../js/ui/variable.js" type="text/javascript"></script>

<script src="../js/gui/context_menu.js" type="text/javascript"></script>
<script src="../js/gui/minimap.js" type="text/javascript"></script>
<script src="../js/gui/branches.js" type="text/javascript"></script>
<script src="../js/gui/tour.js" type="text/javascript"></script>
